In [7]:
import pandas as pd
import os

folder_path = 'all_data/updated_xls_format'
all_files = [f for f in os.listdir(folder_path) if f.endswith('.xlsx') or f.endswith('.xls')]

df_list = []

for file in all_files:
    file_path = os.path.join(folder_path, file)
    temp_df = pd.read_excel(file_path)
    df_list.append(temp_df)

# Concatenate all dataframes in the list into a single dataframe
df = pd.concat(df_list, ignore_index=True)
df.head

<bound method NDFrame.head of         IP_INDEX      IP_LABEL RECORDING_SESSION_LABEL TRIAL_LABEL  \
0              1  Onset-to-end                  308611    Trial: 2
1              1  Onset-to-end                  308611    Trial: 2
2              1  Onset-to-end                  308611    Trial: 2
3              1  Onset-to-end                  308611    Trial: 2
4              1  Onset-to-end                  308611    Trial: 2
...          ...           ...                     ...         ...
140375         1  Onset-to-end                308637_2   Trial: 67
140376         1  Onset-to-end                308637_2   Trial: 67
140377         1  Onset-to-end                308637_2   Trial: 67
140378         1  Onset-to-end                308637_2   Trial: 67
140379         1  Onset-to-end                308637_2   Trial: 67

        TRIAL_INDEX  BIN_INDEX  BIN_START_TIME  BIN_END_TIME  \
0                 2          0               0            48
1                 2          1              50            98
2                 2          2             100           148
3                 2          3             150           198
4                 2          4             200           248
...             ...        ...             ...           ...
140375           67         51            2550          2598
140376           67         52            2600          2648
140377           67         53            2650          2698
140378           67         54            2700          2748
140379           67         55            2750          2772

       LEFT_IA_1_SAMPLE_COUNT LEFT_IA_2_SAMPLE_COUNT  ... condition item  \
0                           0                      0  ...  practice  103
1                           0                      0  ...  practice  103
2                           0                      0  ...  practice  103
3                           0                      0  ...  practice  103
4                           0                      0  ...  practice  103
...                       ...                    ...  ...       ...  ...
140375                      .                      .  ...         1   40
140376                      .                      .  ...         1   40
140377                      .                      .  ...         1   40
140378                      .                      .  ...         1   40
140379                      .                      .  ...         1   40

       targetword list target_location phonemic_location semantic_location  \
0           apron    1               3                 4                 1
1           apron    1               3                 4                 1
2           apron    1               3                 4                 1
3           apron    1               3                 4                 1
4           apron    1               3                 4                 1
...           ...  ...             ...               ...               ...
140375      ladle    2               1                 2                 3
140376      ladle    2               1                 2                 3
140377      ladle    2               1                 2                 3
140378      ladle    2               1                 2                 3
140379      ladle    2               1                 2                 3

       unrelated_location timepoint_onset timepoint_offset
0                     2.0        0.160633         0.746895
1                     2.0        0.160633         0.746895
2                     2.0        0.160633         0.746895
3                     2.0        0.160633         0.746895
4                     2.0        0.160633         0.746895
...                   ...             ...              ...
140375                4.0        0.087444         0.647605
140376                4.0        0.087444         0.647605
140377                4.0        0.087444         0.647605
140378                4.0        0.087444         0.647605
140379                4.0        0.087444         0.647605

[140380 rows x 40 columns]>

In [6]:
df.shape

(140380, 40)

In [8]:
# Converting the 'RECORDING_SESSION_LABEL' column to string type to handle the type discrepancy
df['RECORDING_SESSION_LABEL'] = df['RECORDING_SESSION_LABEL'].astype(str)

# Splitting the column again
df['participant'] = df['RECORDING_SESSION_LABEL'].apply(lambda x: x.split('_')[0] if '_' in x else x)
df['session'] = df['RECORDING_SESSION_LABEL'].apply(lambda x: x.split('_')[1] if '_' in x else '2')

df[['RECORDING_SESSION_LABEL', 'participant', 'session']].head(10)  # Displaying the relevant columns to verify the changes

  RECORDING_SESSION_LABEL participant session
0                  308611      308611       2
1                  308611      308611       2
2                  308611      308611       2
3                  308611      308611       2
4                  308611      308611       2
5                  308611      308611       2
6                  308611      308611       2
7                  308611      308611       2
8                  308611      308611       2
9                  308611      308611       2

In [12]:
# Creating a new dataframe 'df2' by filtering out rows where 'condition' is equal to 'practice'
df2 = df[df['condition'] != 'practice']
#verify that we dropped rows
print(df.shape)
print(df2.shape)

(140380, 42)
(126774, 42)

### For the code below::

#### If RIGHT_IA_1_SAMPLE_COUNT is equal to '.', the value of aoi1 is taken from LEFT_IA_1_SAMPLE_COUNT.

In [13]:
# Creating the 'aoi1' column based on the provided logic
df2['aoi1'] = df2.apply(lambda row: row['LEFT_IA_1_SAMPLE_COUNT'] if row['RIGHT_IA_1_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_1_SAMPLE_COUNT'], axis=1)

df2[['RIGHT_IA_1_SAMPLE_COUNT', 'LEFT_IA_1_SAMPLE_COUNT', 'aoi1']].head()  # Displaying the relevant columns to verify the new variable

C:\Users\alexa\AppData\Local\Temp\ipykernel_26400\3334335504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['aoi1'] = df2.apply(lambda row: row['LEFT_IA_1_SAMPLE_COUNT'] if row['RIGHT_IA_1_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_1_SAMPLE_COUNT'], axis=1)

    RIGHT_IA_1_SAMPLE_COUNT LEFT_IA_1_SAMPLE_COUNT  aoi1
489                       .                      0     0
490                       .                      0     0
491                       .                      0     0
492                       .                      0     0
493                       .                      0     0

### create aoi2,3, and 4:

In [14]:
# Creating 'aoi2', 'aoi3', and 'aoi4' columns based on the provided logic

df2['aoi2'] = df2.apply(lambda row: row['LEFT_IA_2_SAMPLE_COUNT'] if row['RIGHT_IA_2_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_2_SAMPLE_COUNT'], axis=1)
df2['aoi3'] = df2.apply(lambda row: row['LEFT_IA_3_SAMPLE_COUNT'] if row['RIGHT_IA_3_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_3_SAMPLE_COUNT'], axis=1)
df2['aoi4'] = df2.apply(lambda row: row['LEFT_IA_4_SAMPLE_COUNT'] if row['RIGHT_IA_4_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_4_SAMPLE_COUNT'], axis=1)

df2[['RIGHT_IA_2_SAMPLE_COUNT', 'LEFT_IA_2_SAMPLE_COUNT', 'aoi2', 
     'RIGHT_IA_3_SAMPLE_COUNT', 'LEFT_IA_3_SAMPLE_COUNT', 'aoi3',
     'RIGHT_IA_4_SAMPLE_COUNT', 'LEFT_IA_4_SAMPLE_COUNT', 'aoi4']].head()  # Displaying the relevant columns to verify the new variables

C:\Users\alexa\AppData\Local\Temp\ipykernel_26400\3858984578.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['aoi2'] = df2.apply(lambda row: row['LEFT_IA_2_SAMPLE_COUNT'] if row['RIGHT_IA_2_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_2_SAMPLE_COUNT'], axis=1)
C:\Users\alexa\AppData\Local\Temp\ipykernel_26400\3858984578.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['aoi3'] = df2.apply(lambda row: row['LEFT_IA_3_SAMPLE_COUNT'] if row['RIGHT_IA_3_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_3_SAMPLE_COUNT'], axis=1)
C:\Users\alexa\AppData\Local\Temp\ipykernel_26400\3858984578.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['aoi4'] = df2.apply(lambda row: row['LEFT_IA_4_SAMPLE_COUNT'] if row['RIGHT_IA_4_SAMPLE_COUNT'] == '.' else row['RIGHT_IA_4_SAMPLE_COUNT'], axis=1)

,RIGHT_IA_2_SAMPLE_COUNT,LEFT_IA_2_SAMPLE_COUNT,aoi2,RIGHT_IA_3_SAMPLE_COUNT,LEFT_IA_3_SAMPLE_COUNT,aoi3,RIGHT_IA_4_SAMPLE_COUNT,LEFT_IA_4_SAMPLE_COUNT,aoi4
489,.,0,0,.,0,0,.,0,0
490,.,0,0,.,0,0,.,0,0
491,.,0,0,.,0,0,.,0,0
492,.,0,0,.,0,0,.,0,0
493,.,0,0,.,0,0,.,0,0

In [20]:
# Adjusted function to map AOIs to the correct location names
def map_aoi_to_correct_location(row):
    if row['aoi_label'] == 'aoi1':
        if row['target_location'] == 1:
            return 'target_location'
        elif row['phonemic_location'] == 1:
            return 'phonemic_location'
        elif row['semantic_location'] == 1:
            return 'semantic_location'
        elif row['unrelated_location'] == 1:
            return 'unrelated_location'
    elif row['aoi_label'] == 'aoi2':
        if row['target_location'] == 2:
            return 'target_location'
        elif row['phonemic_location'] == 2:
            return 'phonemic_location'
        elif row['semantic_location'] == 2:
            return 'semantic_location'
        elif row['unrelated_location'] == 2:
            return 'unrelated_location'
    elif row['aoi_label'] == 'aoi3':
        if row['target_location'] == 3:
            return 'target_location'
        elif row['phonemic_location'] == 3:
            return 'phonemic_location'
        elif row['semantic_location'] == 3:
            return 'semantic_location'
        elif row['unrelated_location'] == 3:
            return 'unrelated_location'
    elif row['aoi_label'] == 'aoi4':
        if row['target_location'] == 4:
            return 'target_location'
        elif row['phonemic_location'] == 4:
            return 'phonemic_location'
        elif row['semantic_location'] == 4:
            return 'semantic_location'
        elif row['unrelated_location'] == 4:
            return 'unrelated_location'

melted_df['location_name'] = melted_df.apply(map_aoi_to_correct_location, axis=1)

# Finalize the formatted DataFrame
formatted_gca = melted_df[['participant', 'targetword', 'session', 'aoi_label', 'location_name', 'count']]
formatted_gca.head(10)  # Displaying the first few rows of the updated data

  participant targetword session aoi_label      location_name  count
0      308611     ladder       2      aoi1  semantic_location      0
1      308611     ladder       2      aoi1  semantic_location      0
2      308611     ladder       2      aoi1  semantic_location      0
3      308611     ladder       2      aoi1  semantic_location      0
4      308611     ladder       2      aoi1  semantic_location      0
5      308611     ladder       2      aoi1  semantic_location      0
6      308611     ladder       2      aoi1  semantic_location      0
7      308611     ladder       2      aoi1  semantic_location      0
8      308611     ladder       2      aoi1  semantic_location      0
9      308611     ladder       2      aoi1  semantic_location      0

In [21]:
# Including the BIN_INDEX variable in the melted dataframe
melted_df_with_bin = df2.melt(id_vars=['participant', 'targetword', 'session', 'BIN_INDEX', 'target_location', 
                                      'phonemic_location', 'semantic_location', 'unrelated_location'],
                              value_vars=['aoi1', 'aoi2', 'aoi3', 'aoi4'],
                              var_name='aoi_label', value_name='count')

# Mapping the AOIs to the correct location names using the previously defined function
melted_df_with_bin['location_name'] = melted_df_with_bin.apply(map_aoi_to_correct_location, axis=1)

# Finalize the formatted DataFrame including BIN_INDEX
formatted_gca_with_bin = melted_df_with_bin[['participant', 'targetword', 'session', 'BIN_INDEX', 
                                             'aoi_label', 'location_name', 'count']]
formatted_gca_with_bin.head(10)  # Displaying the first few rows of the updated data

,participant,targetword,session,BIN_INDEX,aoi_label,location_name,count
0,308611,ladder,2,0,aoi1,semantic_location,0
1,308611,ladder,2,1,aoi1,semantic_location,0
2,308611,ladder,2,2,aoi1,semantic_location,0
3,308611,ladder,2,3,aoi1,semantic_location,0
4,308611,ladder,2,4,aoi1,semantic_location,0
5,308611,ladder,2,5,aoi1,semantic_location,0
6,308611,ladder,2,6,aoi1,semantic_location,0
7,308611,ladder,2,7,aoi1,semantic_location,0
8,308611,ladder,2,8,aoi1,semantic_location,0
9,308611,ladder,2,9,aoi1,semantic_location,0

## pulling random draws from both dat asts

In [22]:
import random

# Randomly select a participant, targetword, session, and BIN_INDEX combination
random_row = df2.sample(1)
random_participant = random_row['participant'].values[0]
random_targetword = random_row['targetword'].values[0]
random_session = random_row['session'].values[0]
random_bin_index = random_row['BIN_INDEX'].values[0]

# Extract rows from original df2 based on the random selection
subset_df2 = df2[(df2['participant'] == random_participant) & 
                 (df2['targetword'] == random_targetword) & 
                 (df2['session'] == random_session) & 
                 (df2['BIN_INDEX'] == random_bin_index)]

# Extract rows from formatted_gca_with_bin based on the random selection
subset_formatted_gca_with_bin = formatted_gca_with_bin[(formatted_gca_with_bin['participant'] == random_participant) & 
                                                       (formatted_gca_with_bin['targetword'] == random_targetword) & 
                                                       (formatted_gca_with_bin['session'] == random_session) & 
                                                       (formatted_gca_with_bin['BIN_INDEX'] == random_bin_index)]

subset_df2, subset_formatted_gca_with_bin

NameError: name 'subset_df2' is not defined